<%= form_for(@prototype) do |f| %>
  <% if @prototype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prototype.errors.count, "error") %> prohibited this prototype from being saved:</h2>

      <ul>
      <% @prototype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :design %><br />
    <%= f.text_field :design %>
  </div>
  <div class="field">
    <%= f.label :material %><br />
    <%= f.text_area :material %>
  </div>
  <div class="field">
    <%= f.label :tolerance %><br />
    <%= f.text_area :tolerance %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
