<h1>Your Prototypes</h1>

<table>
  <tr>
    <th>Material</th>
    <th>Tolerance</th>
    <th>Volume</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>



<% current_user.prototypes.each do |prototype| %>
  <tr>
    <td><%= prototype.material %></td>
    <td><%= prototype.tolerance %></td>
    <td><%= prototype.volume %></td>
    <td><%= prototype.units %></td>
    <td><%= prototype.comment %></td>
    <td><%= link_to 'Show', prototype %></td>
    <td><%= link_to 'Edit', edit_prototype_path(prototype) %></td>
    <td><%= link_to 'Destroy', prototype, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prototype', new_prototype_path %>
