<p id="notice"><%= notice %></p>

<p>
  <b>Public:</b>
  <%= @prototype.open %>
</p>
  <b>Material:</b>
  <%= @prototype.material %>
</p>

<p>
  <b>Units:</b>
  <%= @prototype.units %>
</p>

<p>
  <b>Tolerance:</b>
  <%= @prototype.tolerance %>
</p>

<p>
  <b>Volume:</b>
  <%= @prototype.volume %>
</p>

<p>
  <b>Comment:</b>
  <%= @prototype.comment %>
</p>


<%= link_to 'Edit', edit_prototype_path(@prototype) %> |
<%= link_to 'Back', prototypes_path %>
