<!DOCTYPE html>
<html>
	<head>
	  <title>
	  	Protobid | <%=yield(:title) %>
	  </title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
			<div id="header_bar">
			<div style ="display:inline-block">
				<%= image_tag("logo.png", :height => '75', :width => '200')%>				
				<h3 style="margin:0px;padding:0px">Get it built.</h3>
				<h3 style="margin:0px;padding:0px">Fast.</h3>
			</div>
			<div style ="display:inline-block; text-align:right; margin: 0px auto; float:center">
				<p >
					What if your business could quickly get the prototypes they need?</br>

					For the most efficient prices, but with the highest quality! </br>

					That's our dream here at ProtoBid.
				</p>
			</div>
			<div id="login">
				<% if user_signed_in? %>
					<li>
				  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
				  	</li>
				<% else %>
				  	<li>
				  		<%= link_to('Login', new_user_session_path)  %>  
					</li>
						or
					<li>
  						<%= link_to('Sign up', new_user_registration_path)  %>
  					</li>
				<% end %>
			</div>
		</div>
	</head>
	<body>

		<div class="nav-holder">
			<div class="nav-item" id="main_nav" >
				<ul>
					<li>
						<%= link_to "Home", "/browse/home" %>
					</li>
					<li>
					<%= link_to "About Us", "/browse/about" %>
					</li>
					<li>
					<%= link_to "Terms of Service", "/browse/terms" %>
					</li>
				</ul>
			</div>
		</div>

		<div>
			<%= yield %>
		</div>
	</body>
</html>