<!DOCTYPE html>
<html >
	<head>
	  <title>
	  	Protobid | <%=yield(:title) %>
	  </title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= stylesheet_link_tag    "bootstrap", :media => "all" %>
	  <%= stylesheet_link_tag    "bootstrap_and_overrides", :media => "all" %>


	  <%= javascript_include_tag "bootstrap" %>
	  <%= javascript_include_tag "application" %>


	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag "favicon.ico" %>
	  <script src="http://code.jquery.com/jquery.js"></script>

	</head>
	<body>
		<div class="wrapper">
		<div class="row-fluid" id="header_bar" style="height:150" >
		<div class="span2"></div>
			<div class="span7" style="height:150px; margin:0px">
				<div style="height:150px">
				<%= image_tag("logo.png", :height => '150px', :width => '400')%>
				</div>
			</div>
			<div class="span3">
				<div id="login" class="navbar nav ">
					<ul class="nav navbar-inner" style="float:right">
						<% if user_signed_in? %>
							<li class="nav  logging">
						  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>       
						  	</li>
						<% else %>
						  	<li class="nav logging">
						  		<%= link_to('Login', new_user_session_path)  %>  
							</li>
							<li class="divider"></li>
							<li class="nav logging">
		  						<%= link_to('Sign up', new_user_registration_path)  %>
		  					</li>
						<% end %>
					</ul>
				</div>
			</div>

		</div>
		
		<div class="row-fluid">
			<div class="span12">
				<div>
					<div  id="main_nav" class="navbar nav">
						<ul class="nav navbar-inner" style="width:100%">
							<li style="margin-left:12%">
								<a href="/browse/home" class="nav_item nav">Home</a>
							</li>
							<% if user_signed_in? %>
								<%if current_user.niche=='Engineer'%>
									<li class= "dropdown">

										<a  class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="/prototypes" class="nav_item nav">Prototypes</a>

										<ul class="dropdown-menu" role ="menu" aria-labelledby="dropdownMenu">
											<li>
												<a href="/prototypes" class="nav_item nav">Public Prototypes</a>
											</li>
											<li>
												<a href="/prototypes" class="nav_item nav">Open Prototypes</a>
											</li>
											<li>
												<a href="/prototypes" class="nav_item nav">My Prototypes</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="/browse/home" class="nav_item nav">Suppliers</a>
									</li>
									<li>
										<a href="/browse/home" class="nav_item nav">My Profile</a>
									</li>
								<% else %>
									<li class= "dropdown">

										<a  class="dropdown-toggle" data-target="#" data-toggle="dropdown" href="/prototypes" class="nav_item nav">Prototypes</a>

										<ul class="dropdown-menu" role ="menu" aria-labelledby="dropdownMenu">
											<li>
												<a href="/prototypes" class="nav_item nav">Open Prototypes</a>
											</li>
											<li>
												<a href="/bids" class="nav_item nav">currently Projects</a>
											</li>
											<li>
												<a href="/prototypes" class="nav_item nav">Past Prototypes</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="/browse/home" class="nav_item nav">Sources</a>
									</li>
									<li>
										<a href="/browse/home" class="nav_item nav">My Profile</a>
									</li>

								<%end%>	
							<% end %>
						</ul>
					</div>
				</div>
			</div>

		</div>
	
		<div class="row-fluid">
			<div class="span2" id="side-bar">
			</div>
			<div class="span10" style="margin:0px;padding:0px">
				<div style="margin:0px">
					<%= yield %>
				</div>
			</div>
		</div>
		<div class="push"><!--//--></div>
		</div>
		<footer style="background-color:white">
      <div class="container">
        <p>@Protobid Ventures 2013.  <a href="/browse/about" class="nav_item nav">About Us</a> | <a href="/browse/terms" class="nav_item nav">Terms of Service</a></p>
      </div>
    </footer>
	</body>
</html>